@model IEnumerable<Delivr.Models.Commande>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Statut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroCivique)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodePostale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Statut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroCivique)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodePostale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurant.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommandeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommandeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommandeId })
        </td>
    </tr>
}

</table>
