@using Resources =  Delivr.Resources;
@model Delivr.Models.Commande

@{
    string statusString;
    string buttonText;
    string panelClasses;
    string buttonClasses;
    string collapseClasses;
    switch (Model.Statut)
    {
        case Delivr.Models.Commande.StatutCommande.EnAttente:
            statusString = Resources.Commande.StatusPending;
            buttonText = Resources.Commande.PrepareThisOrder;
            panelClasses = "panel-info";
            buttonClasses = "btn-primary startPrepare";
            collapseClasses = "in";
            break;
        case Delivr.Models.Commande.StatutCommande.EnPreparation:
            statusString = Resources.Commande.StatusInPreparation;
            buttonText = Resources.Commande.FinishPreparation;
            panelClasses = "panel-primary";
            buttonClasses = "btn-success finishPrepare";
            collapseClasses = "in";
            break;
        case Delivr.Models.Commande.StatutCommande.Prete:
            statusString = Resources.Commande.StatusReady;
            buttonText = "Do nothing";
            panelClasses = "panel-success";
            buttonClasses = "hidden";
            collapseClasses = "";
            break;
        default:    // Should not happen
            statusString = "Error";
            buttonText = "Error";
            panelClasses = "panel-danger";
            buttonClasses = "btn-danger";
            collapseClasses = "";
            break;
    }

    string collapseId = "collapseCommande" + Html.ValueFor(model => model.CommandeId);

    <div class="panel @panelClasses">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#@collapseId" aria-expanded="true" aria-controls="@collapseId">
                    Commande #@Html.ValueFor(model => model.CommandeId) (@Model.CommandeItems.Sum(i => i.Quantite) @Resources.Commande.UnitsLowercase - @statusString)
                </a>
                <span>
                    @Html.ActionLink(buttonText, "Statut", null, new
                    {
                        @class = "pull-right btn btn-sm " + buttonClasses,
                        role = "button",
                        style = "margin: -6px -11px 0 0"
                    })
                </span>
            </h4>
        </div>
        <div id="@collapseId" class="panel-collapse collapse @collapseClasses" role="tabpanel">
            <div class="panel-body">
                <ul>
                    @{
                        Decimal total = 0;
                        foreach (var item in Model.CommandeItems)
                        {
                            Decimal subtotal = new Decimal(item.SousTotal) / 100;
                            <li>
                                @Html.Raw(String.Format("{0:C} ({1}x <strong>{2}</strong>)",
                                    subtotal, item.Quantite, Html.Encode(item.MenuItem.Nom)))
                            </li>
                            total += subtotal;
                        }
                    }
                </ul>
                <strong>@Resources.Commande.TotalWithColon</strong> @String.Format("{0:C}", total)
            </div>
        </div>
    </div>
}