@using Resources = Delivr.Resources;
@{
    ViewBag.Title = Resources.Home.AboutUs;
}

<div class="jumbotron padded">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <hr />
        <h2><small>@Resources.Home.OurMission</small></h2>
        <p>@Html.Raw(Resources.Home.About)</p>
        <p>@Html.Raw(Resources.Home.About2)</p>
        <p>@Html.Raw(Resources.Home.About3)</p>
    </div>
</div>