@using Resources = Delivr.Resources;
@{
    ViewBag.Title = "Accueil";
}
@Styles.Render("~/Content/page-scroll")
<div class="main">
    <section class="page1">
        <img id="burger" class="col-sm-6 col-xs-6" src="@Url.Content("~/Content/images/Flat_Burger.svg")" />
        <h2 class="col-sm-6 col-xs-6 floating-label-right">
            @Html.Raw(Resources.Home.DeliveryPromotion)
        </h2>
    </section>
    <section class="page2">
        <h2 class="col-sm-4 col-xs-5 floating-label-left">
            @Html.Raw(Resources.Home.DeliveryTimeGuarantee)
        </h2>
        <img id="clock" class="col-sm-4 col-xs-3" src="@Url.Content("~/Content/images/Clock_Hour.svg")" />
    </section>
    <section class="page3">
        <h2>
            <strong>@Resources.Home.HowItWorks</strong>
        </h2>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 how">
            <p>
                1. @Resources.Home.Browse
                <img id="search" src="@Url.Content("~/Content/images/Search.svg")" />
            </p>
            <p> <h3><small>@Resources.Home.Browse2</small></h3></p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 how">
            <p>
                2. @Resources.Home.Pick
                <img id="add" src="@Url.Content("~/Content/images/Add.svg")" />
            </p>
            <p> <h3><small>@Resources.Home.Pick2</small></h3></p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 how">
            <p>
                3. @Resources.Home.Pay<br />
                <img id="pay" src="@Url.Content("~/Content/images/Pay_NoMethod.svg")" />
            </p>
            <p>
                <h3><small>@Resources.Home.Pay2</small></h3>
                <!-- Bouton déclencheur pour le modal de modalités de paiement -->
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#paymentMethods">
                    @Resources.Home.PaymentMethods
                </button>
            </p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 how">
            <p>
                4. @Resources.Home.Enjoy
                <img id="delivery" src="@Url.Content("~/Content/images/Delivery.svg")" />
            </p>
            <p> <h3><small>@Resources.Home.Enjoy2</small></h3></p>
        </div>
    </section>
    <section class="page4">
        <img id="signup" class="col-sm-6 col-xs-6" src="@Url.Content("~/Content/images/Signup.svg")" />
        <div class="col-sm-6 col-xs-6 floating-label-right">
            <p class="h2">
                @Html.Raw(Resources.Home.JoinUs)
            </p>
            <button id="signupBtn" type="button" class="btn btn-success">
                @Html.ActionLink(Resources.General.SignUp, "Register", "Account")
            </button>
        </div>
    </section>
</div>
<!-- Modal de modalités de paiement (doit se situer juste avant le closing tag de body)-->
<div class="modal fade" id="paymentMethods" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@Resources.Home.PaymentMethods</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <td><h4>@Resources.Home.PaymentMethodOnline</h4></td>
                                <td><h4>@Resources.Home.PaymentMethodDoor</h4></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td><img id="visaOnline" src="@Url.Content("~/Content/images/Visa.svg")" /></td>
                                                <td><img id="mcOnline" src="@Url.Content("~/Content/images/MasterCard.svg")" /></td>
                                                <td><img id="paypalOnline" src="@Url.Content("~/Content/images/Paypal.svg")" /></td>
                                            </tr>
                                            <tr>
                                                <td><img id="debitOnline" src="@Url.Content("~/Content/images/Debit.svg")" /></td>
                                                <td><img id="bitcoinOnline" src="@Url.Content("~/Content/images/Bitcoin.svg")" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p>@Resources.Home.PaymentMethodOnlineDetails</p>
                                </td>
                                <td>
                                    <table id="atDoor" class="table table-responsive">
                                        <tbody>
                                            <tr>
                                                <td><img id="visaAtDoor" src="@Url.Content("~/Content/images/Visa.svg")" /></td>
                                                <td><img id="mcAtDoor" src="@Url.Content("~/Content/images/MasterCard.svg")" /></td>
                                                <td><img id="debitAtDoor" src="@Url.Content("~/Content/images/Debit.svg")" /></td>
                                            </tr>
                                            <tr>
                                                <td><img id="cashAtDoor" src="@Url.Content("~/Content/images/Cash.svg")" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p>@Resources.Home.PaymentMethodDoorDetails</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal -->
@section scripts {
    <script type="text/javascript">
        $(".main").onepage_scroll({
            sectionContainer: "section",     // sectionContainer accepts any kind of selector in case you don't want to use section
            easing: "ease",                  // Easing options accepts the CSS3 easing animation such "ease", "linear", "ease-in",
            // "ease-out", "ease-in-out", or even cubic bezier value such as "cubic-bezier(0.175, 0.885, 0.420, 1.310)"
            animationTime: 1000,             // AnimationTime let you define how long each section takes to animate
            pagination: true,                // You can either show or hide the pagination. Toggle true for show, false for hide.
            updateURL: false,                // Toggle this true if you want the URL to be updated automatically when the user scroll to each page.
            beforeMove: function (index) { },  // This option accepts a callback function. The function will be called before the page moves.
            afterMove: function (index) { },   // This option accepts a callback function. The function will be called after the page moves.
            loop: false,                     // You can have the page loop back to the top/bottom when the user navigates at up/down on the first/last page.
            keyboard: true,                  // You can activate the keyboard controls
            responsiveFallback: false,        // You can fallback to normal page scroll by defining the width of the browser in which
            // you want the responsive fallback to be triggered. For example, set this to 600 and whenever
            // the browser's width is less than 600, the fallback will kick in.
            direction: "vertical"            // You can now define the direction of the One Page Scroll animation. Options available are "vertical" and "horizontal". The default value is "vertical".
        });
    </script>
}