@using Delivr.Helpers
@model Delivr.Models.EditMenuItemModel

<div class="menuItemRow">
    @using (Html.BeginCollectionItem("MenuItemModels"))
    {
        <div class="editor-row">
            <div class="row-editor-label">
                @Html.LabelFor(model => model.Nom)
            </div>
            <div class="row-editor-field">
                @Html.EditorFor(model => model.Nom)
            </div>
        </div>
        <div class="editor-row">
            <div class="row-editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="row-editor-field">
                @Html.EditorFor(model => model.Description)
            </div>
        </div>
        <div class="editor-row">
            <div class="row-editor-label">
                @Html.LabelFor(model => model.Prix)
            </div>
            <div class="row-editor-field">
                @Html.EditorFor(model => model.Prix)
            </div>
        </div>
    }
</div>