@model Delivr.Models.LivraisonModel

@{
    string collapseId = "collapseCommande" + Html.ValueFor(model => model.CommandeId);

    <div class="panel panel-info" data-id="@Model.CommandeId">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#@collapseId" aria-expanded="true" aria-controls="@collapseId">
                    Commande #@Html.ValueFor(model => model.CommandeId)
                </a>
                <span>
                    <button class="pull-right btn btn-sm btn-primary select" style="margin: -6px -11px 0 0">Sélectionner</button>
                </span>
            </h4>
        </div>
        <div id="@collapseId" class="panel-collapse collapse " role="tabpanel">
            <div class="panel-body">
                <ul>
                    <p>
                        @Html.DisplayNameFor(model => model.DateLivraison)
                        @Html.DisplayFor(model => model.DateLivraison)
                    </p>
                    <p>
                        @Html.DisplayNameFor(model => model.NomRestaurant)
                        @Html.DisplayFor(model => model.NomRestaurant)
                    </p>
                    <p>
                        @Html.DisplayNameFor(model => model.RestaurantAdresse)
                        @Html.DisplayFor(model => model.RestaurantAdresse.NumeroCivique)
                        @Html.DisplayFor(model => model.RestaurantAdresse.Rue)
                        @Html.DisplayFor(model => model.RestaurantAdresse.CodePostale)
                        @Html.HiddenFor(model => model.RestaurantAdresse.CodeCivique)
                        @Html.HiddenFor(model => model.RestaurantAdresse.Rue)
                        @Html.HiddenFor(model => model.RestaurantAdresse.CodePostale)

                    </p>
                    <p>
                        @Html.DisplayNameFor(model => model.NomClient)
                        @Html.DisplayFor(model => model.NomClient)
                    </p>
                    <p>
                        @Html.DisplayNameFor(model => model.ClientAdresse)
                        @Html.DisplayFor(model => model.ClientAdresse.NumeroCivique)
                        @Html.DisplayFor(model => model.ClientAdresse.Rue)
                        @Html.DisplayFor(model => model.ClientAdresse.CodePostale)
                        @Html.HiddenFor(model => model.ClientAdresse.CodeCivique)
                        @Html.HiddenFor(model => model.ClientAdresse.Rue)
                        @Html.HiddenFor(model => model.ClientAdresse.CodePostale)
                    </p>
                </ul>
            </div>
        </div>
    </div>
}