@model Delivr.Models.Restaurateur

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Restaurateur</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Prenom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Prenom)
            @Html.ValidationMessageFor(model => model.Prenom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nom)
            @Html.ValidationMessageFor(model => model.Nom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telephone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telephone)
            @Html.ValidationMessageFor(model => model.Telephone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rue)
            @Html.ValidationMessageFor(model => model.Rue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodeCivique)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CodeCivique)
            @Html.ValidationMessageFor(model => model.CodeCivique)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodePostale)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CodePostale)
            @Html.ValidationMessageFor(model => model.CodePostale)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateNaissance)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateNaissance)
            @Html.ValidationMessageFor(model => model.DateNaissance)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.estRestaurateur)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.estRestaurateur)
            @Html.ValidationMessageFor(model => model.estRestaurateur)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.estEntrepreneur)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.estEntrepreneur)
            @Html.ValidationMessageFor(model => model.estEntrepreneur)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
