@model Delivr.Models.Restaurateur

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Restaurateur</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Prenom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Prenom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telephone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telephone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CodeCivique)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CodeCivique)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CodePostale)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CodePostale)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateNaissance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateNaissance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estRestaurateur)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estRestaurateur)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estEntrepreneur)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estEntrepreneur)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
