@model Delivr.Models.Restaurant

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron padded">
    <div class="container">
        <h2>@ViewBag.Title : @Html.DisplayFor(model => model.nom)</h2>
        <hr />
        <form class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.nom, new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @(Html.TextBoxFor(model => model.nom, new { @class = "form-control form-input", disabled = "disabled" }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Restaurateur , new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @(Html.TextBoxFor(model => model.Restaurateur.Email, new { @class = "form-control form-input", disabled = "disabled" }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Rue, new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @(Html.TextBoxFor(model => model.Rue, new { @class = "form-control form-input", disabled = "disabled" }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Telephone, new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @(Html.TextBoxFor(model => model.Telephone, new { @class = "form-control form-input", disabled = "disabled" }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CodeCivique, new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @(Html.TextBoxFor(model => model.CodeCivique, new { @class = "form-control form-input", disabled = "disabled" }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CodePostale, new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @(Html.TextBoxFor(model => model.CodePostale, new { @class = "form-control form-input", disabled = "disabled" }))
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <hr />
        <div class="btn-group btn-group-lg" role="group" aria-label="controls">
            
                @if (User.IsInRole("Admin")) { 
                            <div class="btn-group btn-group-lg" role="group">
                        @(Html.ActionLink("Back to listing", "Index", null, new { @class = "btn btn-default" }))
                    </div>
                    <div class="btn-group btn-group-lg" role="group">
                        @(Html.ActionLink("Edit", "Edit", new { id = Model.RestaurantId }, new { @class = "btn btn-info" }))
                    </div>
                }else if (User.IsInRole("Restaurateur"))
                 {
                <div class="btn-group btn-group-lg" role="group">@Html.ActionLink("Gestion de restaurants", "IndexForRestaurateur", "Restaurant", new { id = WebSecurity.CurrentUserId }, null)</div>
                 }
                else
                {
                    <div class="btn-group btn-group-lg" role="group">
                        @if (!User.IsInRole("Restaurateur") && !User.IsInRole("Admin"))
                        {
                            @(Html.ActionLink("Back to listing", "Liste", null, new { @class = "btn btn-default" }))        //Si client, redirige vers la page client
                        }
                        else
                        {
                            @(Html.ActionLink("Back to listing", "Index", null, new { @class = "btn btn-default" }))        //Sinon, redirige vers la liste dédiée au restaurateur & admin
                        }
                    </div>
                    <div class="btn-group btn-group-lg" role="group">
                        @(Html.ActionLink("Menu", "MenuCommande", new { id = Model.RestaurantId }, new { @class = "btn btn-info" }))
                    </div>
                }
        </div>
    </div>
</div>
