@model Delivr.Models.Restaurant

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron padded">
    <div class="container">
        <h2>@ViewBag.Title : @Html.DisplayFor(model => model.nom)</h2>
        <hr />
        <form class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.nom, new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @(Html.TextBoxFor(model => model.nom, new { @class = "form-control form-input", disabled = "disabled" }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Restaurateur, new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @(Html.TextBoxFor(model => model.Restaurateur.Email, new { @class = "form-control form-input", disabled = "disabled" }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Rue, new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @(Html.TextBoxFor(model => model.Rue, new { @class = "form-control form-input", disabled = "disabled" }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Telephone, new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @(Html.TextBoxFor(model => model.Telephone, new { @class = "form-control form-input", disabled = "disabled" }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CodeCivique, new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @(Html.TextBoxFor(model => model.CodeCivique, new { @class = "form-control form-input", disabled = "disabled" }))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CodePostale, new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @(Html.TextBoxFor(model => model.CodePostale, new { @class = "form-control form-input", disabled = "disabled" }))
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <hr />
        @{
            bool userIsAdmin = User.IsInRole("Admin");
            bool userIsRestaurateur = !userIsAdmin && User.IsInRole("Restaurateur");

            if (userIsAdmin)
            {
                @Html.ActionLink(@Resources.General.Edit, "Edit", new { id = Model.RestaurantId }, new { @class = "btn btn-info btn-lg" })
            }
            else if (!userIsRestaurateur)
            {
                @Html.ActionLink(@Resources.Restaurant.Command, "MenuCommande", new { id = Model.RestaurantId }, new { @class = "btn btn-info btn-lg" })
            }
            
            <div class="btn-group btn-group-sm" role="group" aria-label="controls">
                @if (userIsAdmin)
                {
                    @Html.ActionLink(@Resources.General.BackToListing, "Index", null, new { @class = "btn btn-default" })
                }
                else if (userIsRestaurateur)
                {
                    @Html.ActionLink(@Resources.General.BackToListing, "IndexForRestaurateur", "Restaurant", new { id = WebSecurity.CurrentUserId }, new { @class = "btn btn-default" })
                }
                else    // Si client, redirige vers la page client
                {
                    @Html.ActionLink(@Resources.General.BackToListing, "Liste", null, new { @class = "btn btn-default" })
                }
            </div>
        }
    </div>
</div>
</div>
