@model IEnumerable<Delivr.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron padded">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        @if (User.IsInRole("Admin"))
        {
            @(Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" }))
        <hr />
        }
        
        <table class="table table-striped ">
            <thead>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.nom)</strong></td>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nom)
                        </td>
                        <td class="text-right">
                            @if (User.IsInRole("Admin") || User.IsInRole("Restaurateur"))
                            {
                                <div id="commandes-group" class="btn-group btn-group-xs" role="group">
                                    <a href="@Url.Action("List", "Commande", new { RestaurantId = item.RestaurantId })" class="btn btn-default">
                                        Commandes <span class="glyphicon glyphicon-book"></span>
                                    </a>
                                </div>
                                <div id="menu-group" class="btn-group btn-group-xs" role="group">
                                    <a href="@Url.Action("EditForRestaurant", "Menu", new { RestaurantId = item.RestaurantId })" class="btn btn-default">
                                        Menu <span class="glyphicon glyphicon-cutlery"></span>
                                    </a>
                                </div>
                            }
                            <div class="btn-group btn-group-xs" role="group" aria-label="controls">
                                @if (User.IsInRole("Admin")) { 
                                <div class="btn-group btn-group-xs" role="group">
                                    @(Html.ActionLink("Edit", "Edit", new { id = item.RestaurantId }, new { @class = "btn btn-info" }))
                                </div>
                                }
                                <div class="btn-group btn-group-xs" role="group">
                                    @(Html.ActionLink("Details", "Details", new { id = item.RestaurantId }, new { @class = "btn btn-default" }))
                                </div>
                                
                                @if (User.IsInRole("Admin"))
                                {
                                   <div class="btn-group btn-group-xs" role="group">
                                    @(Html.ActionLink("Delete", "Delete", new { id = item.RestaurantId }, new { @class = "btn btn-danger" }))
                                    </div>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>