@using Resources = Delivr.Resources;

<li id="userMenu">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownUser" data-toggle="dropdown" aria-expanded="true">
            <span class="glyphicon glyphicon-user"></span>
            @if (Request.IsAuthenticated)
            {
                <text>
                    @User.Identity.Name
                </text>
            }
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            @if (Request.IsAuthenticated)
            {
                if (User.Identity.IsAuthenticated && !User.IsInRole("Admin") && !User.IsInRole("Restaurateur") && !User.IsInRole("Livreur"))
                {
                    <li>
                        @Html.ActionLink(Resources.General.Manage, "Edit", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = Resources.General.Manage })
                    </li>
                }
                <li id="logout">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Account.LogOff</a>
                    }
                </li>
            }
            else
            {
                <li>
                    @Html.ActionLink(Resources.Account.SignUp, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                </li>
                <li>
                    @Html.ActionLink(Resources.Account.LogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </li>
            }
        </ul>
    </div>
</li>
