@using Resources = Delivr.Resources;
@model Delivr.Models.LocalPasswordModel

<h3>@Resources.Account.ChangePassword</h3>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", id = "form-password" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        @(Html.LabelFor(m => m.OldPassword, new { @class = "col-sm-3 control-label" }))
        <div class="col-sm-9">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control form-input", Textmode = "Password" })
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>
    </div>
    <div class="form-group">
        @(Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-3 control-label" }))
        <div class="col-sm-9">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control form-input", Textmode = "Password" })
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
    </div>
    <div class="form-group">
        @(Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-3 control-label" }))
        <div class="col-sm-9">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-input", Textmode = "Password" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
    </div>
}
