@model Delivr.Models.EditUserModel

@{
    ViewBag.Title = "Gérer votre compte";
    ViewBag.Message = "Informations personnelles";
}
<div class="jumbotron padded">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <h2><small>@ViewBag.Message</small></h2>
        <hr />
        @using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <form class="form-horizontal">
            <div class="form-group">
                @(Html.LabelFor(m => m.Telephone, new { @class = "col-sm-3 control-label" }))
                <div class="col-sm-9">
                    @(Html.TextBoxFor(m => m.Telephone, new { @class = "form-control form-input" }))
                    @Html.ValidationMessageFor(model => model.Telephone)
                </div>
            </div>
            <div class="form-group">
                @(Html.LabelFor(m => m.Rue, new { @class = "col-sm-3 control-label" }))
                <div class="col-sm-9">
                    @(Html.TextBoxFor(m => m.Rue, new { @class = "form-control form-input" }))
                    @Html.ValidationMessageFor(model => model.Rue)
                </div>
            </div>
            <div class="form-group">
                @(Html.LabelFor(m => m.NumeroCivique, new { @class = "col-sm-3 control-label" }))
                <div class="col-sm-9">
                    @(Html.TextBoxFor(m => m.NumeroCivique, new { @class = "form-control form-input" }))
                    @Html.ValidationMessageFor(model => model.NumeroCivique)
                </div>
            </div>
            <div class="form-group">
                @(Html.LabelFor(m => m.CodePostale, new { @class = "col-sm-3 control-label" }))
                <div class="col-sm-9">
                    @(Html.TextBoxFor(m => m.CodePostale, new { @class = "form-control form-input" }))
                    @Html.ValidationMessageFor(model => model.CodePostale)
                </div>
            </div>
            <div class="form-group">
                @(Html.LabelFor(m => m.Adresses, new { @class = "col-sm-3 control-label" }))
            </div>
            <div class="col-sm-9">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>@(Html.LabelFor(m => m.NumeroCivique))</th>
                            <th>@(Html.LabelFor(m => m.Rue))</th>
                            <th>@(Html.LabelFor(m => m.CodePostale))</th>
                        </tr>
                    </thead>
                    @for (var i = 0; i < Model.Adresses.Count; i++)
                    {

                        <tr>
                            <td>@Html.DisplayFor(m => Model.Adresses.ElementAt(i).NumeroCivique)</td>
                            <td>@Html.DisplayFor(m => Model.Adresses.ElementAt(i).Rue)</td>
                            <td>@Html.DisplayFor(m => Model.Adresses.ElementAt(i).CodePostale)</td>
                        </tr>

                    }
                </table>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="submit" class="btn btn-primary margin-top" value="Sauvegarder" />
                </div>
            </div>
        </form>
        }
    </div>
    <div class="container">
        <hr />
        <h3>@Html.ActionLink("Ajouter une adresse", "AddAdresse", "Account")</h3>
        <h3>@Html.ActionLink("Modifier votre mot de passe", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Gérer" })</h3>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
