@model Delivr.Models.LocalPasswordModel
@{
    ViewBag.Title = "Gérer le compte";
}

<div class="jumbotron padded">
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        <p class="message-success">@ViewBag.StatusMessage</p>
        <p>Vous êtes connecté en tant que <strong>@User.Identity.Name</strong>.</p>
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
    </div>
    <div class="container">
        <hr />
        <div class="btn-group" role="group" aria-label="controls">
            <div class="btn-group" role="group">
                <input type="submit" form="form-password" class="btn btn-primary" value="Sauvegarder" />
            </div>
            <div class="btn-group" role="group">
                @(Html.ActionLink("Retour au compte", "Edit", null, new { @class = "btn btn-default" }))
            </div>
        </div>

    </div>
</div>
