@model Delivr.Models.RegisterModel
@{
    ViewBag.Title = "S'inscrire";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Créez un nouveau compte.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Formulaire d'inscription</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)               
            </li>
            <li>
                @Html.LabelFor(m => m.Nom)
                @Html.TextBoxFor(m => m.Nom)
            </li>
            <li>
                @Html.LabelFor(m => m.Prenom)
                @Html.TextBoxFor(m => m.Prenom)
            </li>
            <li>
                @Html.LabelFor(m => m.Telephone)
                @Html.TextBoxFor(m => m.Telephone, new { @class = "form_input",
                   onkeydown = "javascript:backspacerDOWN(this,event);",
                   onkeyup = "javascript:backspacerUP(this,event);" })
            </li>
            <li>
                @Html.LabelFor(m => m.Rue)
                @Html.TextBoxFor(m => m.Rue)
            </li>
            <li>
                @Html.LabelFor(m => m.CodeCivique)
                @Html.TextBoxFor(m => m.CodeCivique)
            </li>
            <li>
                @Html.LabelFor(m => m.CodePostale)
                @Html.TextBoxFor(m => m.CodePostale)
            </li>
            <li>
                @Html.LabelFor(m => m.DateNaissance)
                @Html.TextBoxFor(m => m.DateNaissance)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="S'inscrire" />
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
