@model Delivr.Models.RegisterModel
@{
    ViewBag.Title = "Sign up";
    ViewBag.Message = "Tell us a bit about you...";
}
<div class="jumbotron padded">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <h2><small>@ViewBag.Message</small></h2>
        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <form class="form-horizontal">
                <div class="form-group">
                    @(Html.LabelFor(m => m.Nom, new { @class = "col-sm-3 control-label" }))
                    <div class="col-sm-9">
                        @(Html.TextBoxFor(m => m.Nom, new { @class = "form-control form-input" }))
                    </div>
                </div>
                <div class="form-group">
                    @(Html.LabelFor(m => m.Prenom, new { @class = "col-sm-3 control-label" }))
                    <div class="col-sm-9">
                        @(Html.TextBoxFor(m => m.Prenom, new { @class = "form-control form-input" }))
                    </div>
                </div>
                <div class="form-group">
                    @(Html.LabelFor(m => m.Email, new { @class = "col-sm-3 control-label" }))
                    <div class="col-sm-9">
                        @(Html.TextBoxFor(m => m.Email, new { @class = "form-control form-input" }))
                    </div>
                </div>
                <div class="form-group">
                    @(Html.LabelFor(m => m.Telephone, new { @class = "col-sm-3 control-label form-input" }))
                    <div class="col-sm-9">
                        @(Html.TextBoxFor(m => m.Telephone, new
                        {
                            @class = "form_input form-control form-input",
                            onkeydown = "javascript:backspacerDOWN(this,event);",
                            onkeyup = "javascript:backspacerUP(this,event);"
                        }))
                    </div>
                </div>
                <div class="form-group">
                    @(Html.LabelFor(m => m.Rue, new { @class = "col-sm-3 control-label" }))
                    <div class="col-sm-9">
                        @(Html.TextBoxFor(m => m.Rue, new { @class = "form-control form-input" }))
                    </div>
                </div>
                <div class="form-group">
                    @(Html.LabelFor(m => m.CodeCivique, new { @class = "col-sm-3 control-label" }))
                    <div class="col-sm-9">
                        @(Html.TextBoxFor(m => m.CodeCivique, new { @class = "form-control form-input" }))
                    </div>
                </div>
                <div class="form-group">
                    @(Html.LabelFor(m => m.CodePostale, new { @class = "col-sm-3 control-label" }))
                    <div class="col-sm-9">
                        @(Html.TextBoxFor(m => m.CodePostale, new { @class = "form-control form-input" }))
                    </div>
                </div>
                <div class="form-group">
                    @(Html.LabelFor(m => m.DateNaissance, new { @class = "col-sm-3 control-label" }))
                    <div class="col-sm-9">
                        @(Html.TextBoxFor(m => m.DateNaissance, new { @class = "form-control form-input" }))
                    </div>
                </div>
                <div class="form-group">
                    @(Html.LabelFor(m => m.Password, new { @class = "col-sm-3 control-label" }))
                    <div class="col-sm-9">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control form-input", Textmode = "Password" })
                    </div>
                </div>
                <div class="form-group">
                    @(Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-3 control-label" }))
                    <div class="col-sm-9">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-input", Textmode = "Password" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="submit" class="btn btn-primary margin-top" value="Sign up" />
                    </div>
                </div>
            </form>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
